@model CloudFileManager.Models.Account.RegisterView
@{
    
        //<div class="me-2 p-1">
        //    <label class="form-label" asp-asp-for="UserMail">User mail</label>
        //    <input class="form-control" asp-for=UserMail>
        //    <span class="text-danger" asp-validation-for="UserMail"></span>
        //</div>
        <div class="me-2 p-1">
            <label class="form-label" asp-for=UserName>User name</label>
            <input class="form-control" asp-for=UserName>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="me-2 p-1">
            <label class="form-label" asp-for=UserMail>User mail</label>
            <input class="form-control" asp-for=UserMail >
            <span class="text-danger" asp-validation-for="UserMail"></span>
        </div>
        <div class="me-2 p-1">
            <label class="form-label" asp-for=Gender>Gender</label>
            <div class="d-flex">
                <label class="form-check-label pe-3">
                    <input class="form-check-input" type="radio" asp-for=Gender value="Male"> Male
                </label>
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" asp-for=Gender value="FeMale"> Female
                </label>             
            </div>            
            <span class="text-danger" asp-validation-for="Gender"></span>
        </div>
        <div class="me-2 p-1">
            <label class="form-label" asp-for=DOB>Birth date</label>
            <input class="form-control" type="date" asp-for=DOB >
            <span class="text-danger" asp-validation-for="DOB"></span>
        </div>
        <div class="me-2 p-1">
            <label class="form-label" asp-for=Password>Password</label>
            <input class="form-control" asp-for=Password>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="me-2 p-1">
            <label class="form-label" asp-for=ConfirmPassword>Confirm password</label>
            <input class="form-control" asp-for=ConfirmPassword>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        @Html.Raw(ViewBag.Message)
 
}
